@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body {
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);
    min-height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    display: flex;
}

.content {
    width: 95%;
    position: relative;
    max-width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    height: 400px;


}

.content .content-item {
    display: flex;
    align-items: center;
}

.content .content-img {
    width: 40%;
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
}

.context {
    padding-right: 25px;

}

.context .context-date {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
}

.context .context-title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
}

.context .context-info {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
}

.context .context-button {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    box-shadow: rgba(237, 8, 8, 0.4) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    font-weight: 500;
  
    letter-spacing: 1px;
}
.context .context-button:hover{
    background: -webkit-linear-gradient(rgb(246, 170, 120), rgb(173, 3, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(147deg, #e16f12 0%, #fd3838 74%);
}
